.lighterblue {
    color: #85C1E9;
    font-weight: bold;
}

.purple {
    color: #C39BD3;
    font-weight: bold;
}

.lightblue {
    color: #30EFEF;
    font-weight: bold;
}

.yellow {
    color: #EFEF30;
    font-weight: bold;
}

.lightyellow {
    color: #F9E79F;
    font-weight: bold; 
}

.red {
    color: #FE4843 ;
    font-weight: bold;
}