.galaxystats {
    width: 100%;
    height: 200vh;
    position: relative;
    background: #C33764;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #1D2671, #C33764);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #1D2671, #C33764); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}





.galaxystats .content {
    position: absolute;
    left: 0;
    top: 7%;
    width: 100%;
    padding: 1rem;
    
}

.galaxystats h2 {
    color: #f8f8f8;
    background:rgb(1, 1, 101, 0.75);
    padding: 0.5rem;
    border-radius: 10px;
    
}

.galaxystats p {
    color: #f8f8f8;
    padding-top: 1rem;
    padding: 0.5rem;
    border-radius: 10px;
    margin-top: 1rem;
}

.galaxystats .blue {
    color: var(--primary-color);
}

.galaxystats button {
    color: #ffffff;
    -webkit-text-stroke: 0.2px #000000;
    text-shadow: 2px 2px 4px #000000;
    border: 1px solid #000000;
}

.galaxystats .iconmain {
    padding-top: .7rem;
    
}

.galaxystats .iconbutton {
    margin-left: 0.75rem;
    padding-top: .25rem;
    
}

.numbers {
    font-family: 'Arial', sans-serif;
    font-size: 70px;
    font-weight: 100;
    line-height: 1em;
    text-align: left;
    margin: 20px auto;
    overflow: hidden;
  }

  .numbers__window {
    display: inline-block;
    overflow: hidden;
    width: 0.6em;
    height: 1em;
  }

  .numbers__windowtext {
    display: inline-block;
    overflow: hidden;
    width: 17em;
    height: 1em;
    color: #ffffff;
    padding-left: 0.2em;
    font-size: 70px;
  }

  .numbers__window__digit {
    font: inherit;
    word-break: break-all;
    display: block;
    width: 0;
    padding: 0 0.52em 0 0;
    margin: 0 auto;
    overflow: inherit;
    animation: counting 0.2s steps(10) forwards infinite;
  }


  .numbers__window__digit::before {
    content: attr(data-fake);
    display: inline-block;
    width: 100%;
    height: auto;
  }

  @keyframes counting {
    100% {
      transform: translate3d(0, -10em, 0);
    }
  }

  .numbers__window__digit--1 {
    animation-iteration-count: 3;
  }
  .numbers__window__digit--2 {
    animation-iteration-count: 6;
  }
  .numbers__window__digit--3 {
    animation-iteration-count: 9;
  }
  .numbers__window__digit--4 {
    animation-iteration-count: 12;
  }
  .numbers__window__digit--5 {
    animation-iteration-count: 15;
  }













@media screen and (max-width:940px) {
    .galaxystats .content {
        left: 0;
        width: 100%;
        
    }

    .galaxystats h2 {
        font-size: 1.7rem;
    }

    .galaxystats .iconmain {
        padding-top: .5rem;
        
    }
    
}