.earthlike {
    width: 100%;
    height: 250vh;
    position: relative;
    background: #C33764;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #1D2671, #C33764);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #1D2671, #C33764); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.earthlike:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.earthlike .content {
    position: absolute;
    left: 0;
    top: 5%;
    width: 100%;
    padding: 1rem;

}

.earthlikeplanet {

    margin-top: 2rem;
    height: 165px;
    width: 100%;
    background:rgb(1, 1, 140, 0.5);
    color: #ffffff;
    border-radius: 10px;
    padding: 0.5rem;
}

.earthlikeplanetimage {

    float: left;
    height: 150px;
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;  /* Centering y-axis */
    align-items :center; /* Centering x-axis */
   
}

.earthlikeplanetdetails {

    float: left;
    height: 150px;
    width: 85%;
   
}

.earthlike h2 {
    color: #f8f8f8;
    background:rgb(1, 1, 140, 0.5);
    padding: 0.5rem;
    border-radius: 10px;
}

.earthlike p {
    color: #f8f8f8;
    margin: 1rem 0;
    background:rgba(1, 1, 140, 0.5);
    padding: 0.5rem;
    border-radius: 10px;
}

.earthlike button {
    color: #ffffff;
    -webkit-text-stroke: 0.2px #000000;
    text-shadow: 2px 2px 4px #000000;
    border: 1px solid #000000;
}

.earthlike .iconmain {
    padding-top: .9rem;
    
}

.earthlike .iconbutton {
    margin-left: 0.75rem;
    padding-top: .2rem;
    
}

@media screen and (max-width: 940px) {
    .earthlike .content {
        left: 0;
        width: 100%;
        
    }
}