:root {
    --white: #ffffff;
    --light-yellow: #FCF3CF;
    --yellow: #fce138;
    --blue: #024e76;
    --darkblue: #17202A;
  }

/* Colors */

.white {
    background-color: var(--blue);
}

.lightyellow {
    color: var(--light-yellow);
}

.blue {
    background-color: var(--blue);
    border: 0;
}

.darkblue {
      background-color: var(--darkblue);
      border: 0;
}



